* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #5cb0e8;
}

#container {
  margin: 0 auto;
  width: 95%;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
}

#content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

header {
  background: #FFC914;
  background-image: url("../images/train2.png");
  background-repeat: no-repeat;
  background-position: right;
  margin: 0 auto;
  width: 100%;
  color: #2e282a;
  padding: 3.75vw 0px 3.75vw 0px;
  border-radius: 2px;
  margin-bottom: 1.25vw;
  box-shadow: 0px 3px 17px 0px rgba(46,40,42,0.37);
}


header > * {
  margin-left: 3.75vw;
}

h1 {
  font-size: 4.5em;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

header > p {
  font-weight: 300;
  font-size: 1.5em;
  text-align: left;
}

#table_container {
  width: 69%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  box-shadow: 0px 3px 17px 0px rgba(46,40,42,0.37);
}

#form_container {
  width: 29%;
}

table {
  margin: 0 auto;
  width: 100%;
}

#table_container, table, caption, th {
  background-color: #2e282a;
  color: #FFC914;
}

caption {
  font-size: 1.2em;
  padding: 5px 0px 10px 0px;
  text-align: center;
  color: #FFFCF9;
}

th, caption {
  font-weight: 600;
}

tbody > tr {
  font-weight: 300;
}

td, th {
  padding: 10px;
  text-align: left;
  font-size: .8em;
  /*width: 20%;*/
}

th {
  padding: 10px;
  color: #FFFCF9;
}

thead, tbody, tr {
  width: 100%;
}

tr {
  border-bottom: 1px solid #5cb0e8;
}

tbody > tr:last-child {
  border-bottom: none;
  padding-bottom: 0px;
}

tbody > tr:last-child > td {
  padding-bottom: 5px;
}

form {
  background-color: #FFFCF9;
  margin: 0 auto;
  padding: 10px;
  line-height: 1.5em;
  color: #2e282a;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-size: .9em;
  box-shadow: 0px 3px 17px 0px rgba(46,40,42,0.37);
}

label {
  color: inherit;
}

h2 {
  background: #2E282A;
  color: #FFFCF9; 
  padding: 10px;
  font-weight: 600;
  font-size: 1.2em;
  text-align: center;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}

input[type=text] {
  margin: 0 auto;
  width: calc(100% - 5px);
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: hsl(0, 0%, 100%);
  border-radius: 2px;
  border: 1px solid #cdcdcd;
}

#submit {
  margin-top: .5em;
  background: #FFC914;
  font-family: inherit;
  color: #2e282a;
  border: none;
  border-radius: 2px;
  font-size: inherit;
}

#message {
  margin-top: .5em;
  color: #d82f2f;
}


/* MAX WIDTH 1200 PX */
@media screen and (max-width: 1200px) {
  #content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #form_container {
    width: 100%;
  }

  #table_container {
    width: 100%;
    margin-bottom: 1.25vw;
  }

}

/* MAX WIDTH 1049 PX */
@media screen and (max-width: 1049px) {
    header {
      background-image: none;
    }

    header > * {
      margin-left: 0;
    }

    h1 {
    text-align: center;
  }

  header > p {
    text-align: center;
  }
}

/* MAX WIDTH 768 PX */
@media screen and (max-width: 768px) {
  header {
    padding: 45px 0px 45px 0px;
  }

  h1 {
    font-size: 8vw;
  }

  header p {
    font-size: 2.5vw;
  }

  td, th {
    font-size: 1.75vw;
  }

}

/* MAX WIDTH 600 PX */
@media screen and (max-width: 600px) {
  header {
    padding: 3.75vw 0px 3.75vw 0px;
  }

  h1 {
    margin-bottom: 1.875vw;
  }

  header p {
    font-size: 3vw;
  }

  td, th {
    font-size: 1.9vw;
  }

}

/* MAX WIDTH 480 PX */
@media screen and (max-width: 480px) {
  header {
    padding: 3.75vw 0px 3.75vw 0px;
  }

  h1 {
    margin-bottom: 1.875vw;
  }

  caption, h2 {
    font-size: 3.75vw;
  }

  header p {
    font-size: 3vw;
  }

  form {
    font-size: 3.75vw;
  }

  #submit {
    font-size: 3.75vw;
  }

  td, th {
    font-size: 2.2vw;
  }

}

